@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Inter&family=Josefin+Sans:wght@400;700&display=swap');

$font-aleo: 'Aleo', serif;
$font-inter: 'Inter', sans-serif;
$font-josefin: 'Josefin Sans', sans-serif;